
.fondo-cuerpo {
    background-color:#FCB622 ;
}
.fondo-principal {
    background-color: #D6B187;
}
.fondo-footer{
    background-color: #8C3C21;
}


.titulo-pagina{
    color: #113D26;
    font-family: 'Lora';
    text-align: center;
}

/* Flex */
.hero {
    background-color: #D6B187;
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
    align-items: center;

    /* display: inline-block; */
    width: 100%;
    margin-top: 80px;
    
}
.hero img {
    /* display: inline-block; */
    width: 40%;
    height: 500px;
    object-fit: cover;
    border-radius: 100%;
    padding: 30px;
    /* margin-top: 10px; */
}
.hero-content {
    /* display: inline-block; */
    width: 49%;
    padding: 50px;
    /* position: absolute; aplicando esto aquí se podría poner texto sobre la imágen */
    /* bottom: 100px; */

}

/* boxmodel */
.cards {
    background-color: #468361;
    padding: 15px 50px;
    text-align: center;
    /* position: absolute; */

}
.card-body {
    display: inline-block;
    width: 27%;
    text-align: left;
    border:#D6B187 solid 1px ;
    background-color: beige;
    margin: 30px;
    /* position: sticky; */
    position: relative; /*se necesita ajuro esta en conjunto con el absolute de abajo .nuevo para que aparezcan los "ultima oportunidad*/
    top: 10px;
    left: 20px;
    /* overflow: hidden; */
}
.card-body h2 , .card-body p {
    padding: 15px;
}
.card-body img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.nuevo {
    background-color: #FCB622;
    padding: 5px;
    color:#468361;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: -15px;
}
.texto-parrafo01{
    color:#468361;
    font-family: 'Roboto';
    background-color: #D6B187;
    /* height: 200px;
    width: 200px;
    overflow:hidden; */
    padding: 20px 40px; /* asi marca arriba y abajo 20 y derecha e izquierda 40*/
    margin: 20px 40px;
    border: solid 5px #468361;
    border-radius: 5%;
}
.texto-parrafo02{
    color: #FCB622;
    font-family: 'Roboto';
    background-color: #113D26;
    padding: 30px 50px;
    margin: 20px 40px;
    border: solid 5px #D6B187;
    border-radius: 5%;
    text-align: justify;
}
.texto-parrafo03{
    color: #8C3C21;
    font-family: 'Roboto';
    background-color: #468361;
    padding: 40px 60px;
    margin: 20px 40px;
    border: solid 5px #8C3C21;
    border-radius: 5%;
    text-align: center;
}
.foto-parrafo01 {
    /* padding: 10px; */
    width: 500px;
    height: 300px;

    /* overflow:hidden; */
    margin: 20px;
    border: solid 5px salmon;
    border-radius: 30px;
    /* height: 1800px;
    width: 1800px; */
    
}
.foto-parrafo01 img {
    width: 100%;
    height: 100%;
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
    border-radius: 30px;
    /* overflow:hidden; */
}
.wsp {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    object-fit: cover;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1;
    cursor: pointer;
}

/*Flexbox*/

/* grid */

.grilla {


    border: 3px solid red;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
    padding: 15px;
    grid-template-areas: 
    'area1 area1 area2 area2'
    'area1 area1 area2 area2'
    'area3 area3 area4 area4'
    'area5 none area7 area8' 
    ;
}
    /* grid-template-columns: 300px 50%; */
    /* grid-template-columns: 300px 300px 300px; */
    /* grid-template-columns: 200px 200px 200px; no caben y se rompe */
    /* funcion repeat (cantidad cols, tamaño col */
    /* grid-template-columns: repeat(4, 300px); */
    /* grid-template-columns: repeat(4, 25%); */ 
    /* grid-template-columns: repeat(1, 300px);  */
    /*divide 1 fraccion en 4 columnas*/
    /* grid-template-columns: repeat(5, 1fr);  */
    /* divide 1 fraccion en 5 columnas */
    /* grid-template-columns: 1fr 2fr 3fr 1fr; */
    /* estos frames con width 100% rellenan el espacio */
    /* grid-template-rows: repeat(2, 200px) ; */
    /* grid-template-rows: auto; */
    /* con auto me queda del tamaño del texo */
    /* grid-template-rows: repeat(auto,1fr); */ 

    /* equivalente a justify-content es justify-items */
    /* justify-items: center; */
    /* justify-items: start;
    justify-items: end; */

    /* AREAS debo declarar tantas como columnas tenga en grid-template-columns */
    /* esto ultimo hace que la foto 1 quede en el centro */
    /* align-items: center;
    place-items: center;
    justify-items: center; */


.grilla-hijo {
    /* width: 300px; */
    width: 100%;
    height: 100%;
    background-color:#113D26;
    display: flex;

    justify-content: center;
    align-items: center;
    border: 3px solid green;


}
.grilla-hijo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* display: flex;*/
} 
.grilla-hijo a {
    width: 100%;
    height: 100%;
    /* place-items: center;
    justify-items: center; */
} 
.grilla-hijo p {
    color: #468361;
    font-size: 30px;

}
.grilla-hijo-card {
    padding: 20px 10px;
    font-size: 30px;
}
.grilla-hijo-card p {
    font-size: 20px;
}

.g1 {

    grid-area: area1;
    border-radius: 100%; 
    width: 500px;
    height: 500px;
}
.g1 img {
    border-radius: 100%;

}
.g2 {
    grid-area: area2;
    /* display: flex; */
}
.g2 img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    /* display: flex;*/
} 
.g3 {
    grid-area: area3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.g3 img {
    width: 100%;
    height: 20%px;
    object-fit: cover;

}
.g4 {
    grid-area: area4;
}
.g4 img {
    width: 100%;
    height: 100%px;
    object-fit: cover;
}
.g5 {
    grid-area: area5;
    /* width: 100%;
    height: 90%; */
}
/* .g5 a {
    place-items: center;
    justify-items: center;
} */
.g6 {
    grid-area: area6;
}

.g7 {
    grid-area: area7;
    width: 100%;
    height: 90%;
}

.g8 {
    grid-area: area8;
}

/* Mediaqueries, forma correcta de trabajar */ 
@media only screen and (max-width:1024px) {
    .grilla {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(4, auto);

        grid-template-areas:

        'area7 area7 area3 area3'
        'area8 area8 area5 area5'
        'area4 area4 area1 area1'
        'area2 area2 area1 area1' 
        ;

        /* 'area1 area1 area2 area2'
        'area1 area1 area2 area2'
        'area3 area3 area4 area4'
        'area5 none area7 area8' 
        ; */

    }   
}
/* video 2h20 */
/*Pseudoclases*/

/*todos los elementos <a> que tengan atributo href definido y no hayan sido visitados*/

/* a:link {
    background-color: aquamarine;
    color: darkblue;
}
a:visited {
    background-color: cadetblue;
    color: violet;
} */

/*Todos los elementos <a> cuando el mouse está sobre ellos*/

/* a:hover {
    font-weight: bold;
    padding: 20px;
    background-color: rgb(10, 10, 60);
    color: azure;
} */

/*todos los elementos <a> cuando haces clic sobre ellos*/

/* a:active {
    background-color: yellow;
    color: black; */
    /* Ejemplos hover */
/* .pseudo:hover {
    background-color: coral;
    width: 400px;
    height: 400px;
    border-radius: 100%;
}
.pseudo:hover p {
    color: black;
    text-align: center;
    font-size: 30px;
} */

/* En este estilo de hover necesito que el cursor se pare sobre el parrafo, en el de arriba no */
/* .pseudo p:hover{
    color: black;
    text-align: center;
    font-size: 30px;
} */
/* Para alternar los hijos */
/* .pseudo:first-child, .pseudo:last-child {
    background-color: #113D26;
    color: aliceblue;
} */
/* este nth toma cada 3 hermanos */
/* .pseudo:nth-child(3n){ */
/* este nth toma los 3 primeros */
/* .pseudo:nth-child(-n+3){ */
/* .pseudo:nth-child(+n+4){ */

    /* esta me da los impares o pares */
/* .pseudo:nth-child(odd){ */
/* .pseudo:nth-child(even){ */
/* .pseudo:nth-child(2n+1){ */
/* .pseudo:nth-child(2n+2){ */
/* .pseudo:nth-child(3n+2){ */
    
    /* background-color: #113D26; */
    /* color: aliceblue; */
    /* flex-direction: row-reverse; */
/* } */

.pseudos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* padding: 100px 0; */
    /*100vh es el alto del navegador*/
    min-height: 100vh;
    max-height: 100%;
    background-color: #FCB622;
    gap: 20px;
    padding: 30px;
    margin-top: 70px;

}

.pseudo {
    width: 90%;
    height: 400px;
    background-color: orangered;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #eeee;
    font-size: 20px;
/* Aplicar una transición desde el elemento original  */
    /* transition: 0.6s; */
    transition: ease-in-out 0.4s;
    overflow: hidden;
    position: relative;


}


.pseudo img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    /* filter: grayscale(1); */
    filter: blur(5px);
    transition: ease-in-out 0.4s;

}
/* este lo saco porque estoy poniendo .pseudo:hover img */
/* .pseudo img:hover {
    filter: grayscale(0);
} */
.link {
    height: 300px;
}
.random {
    margin: 10px;
    font-size: 30px;
    padding: 30px;
    color: black;
    text-decoration: none;
    background-color: #eebe57;
    transition: .6s;
    border: 2px solid transparent;

}
.random:hover {
    color: antiquewhite;
    transition: .6s;
    border: 2px solid white;

}
.random:visited {
    background-color: #ee5757;
    
}
.pseudo:hover img {
    filter: blur(0px);
    transition: ease-in-out 0.4s;
    height: 600px;
    /* si le cambio por ejemplo width 60% agranda la imagen, pero se puede romper el texto */
    width: 40%;
}
.pseudo__contenedor {
    padding: 50px;
    width: 50%;

}
.pseudo__circle {
    width: 100px;
    height: 100px;
    background-color: #D6B187;
}

.pseudo:hover {
    background-color: #468361;
/* box-shadow: horizontal vertical blur spread radius color */
    box-shadow: 5px 5px 15px 0px black;
}

.pseudo:hover .pseudo__circle {
    background-color: #8C3C21;
    border-radius: 100%;
    position: absolute;
    top: 20px;
    left: 30px;
    transition: ease-in-out 0.4s;

}

.pseudo:nth-child(even){
    background-color: #113D26;
    color: aliceblue;
    flex-direction: row-reverse;
}

.pseudo:nth-child(even):hover {
    background-color: #126135;
    box-shadow: 5px 5px 15px 0px black;
}

.card {
    width: 70%;

}
/* bootstrap */
.container-fluid img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.offcanvas-header img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.container {
    background-color: #468361;
    /* margin: 20px;
    padding: 110px; */
}
.carousel-inner {
    height: 400px;

}
.carousel-item {
    width: 100%;
    height: 400px;
    object-fit: cover;
}


//Imports base
@import 'base/variables';               
@import 'base/resets';
@import 'base/utilidades';
//no entiendo porque, pero el poner vaariables aqui resuelve el tema del main-font. porque hay que poner font al comienzo.

//Imports components
@import 'components/navbar';
@import 'components/footer';

//Imports layout
@import 'layout/index';
@import 'layout/magia';
@import 'layout/mediaqueries';