// crear aqui variables que se usan a lo largo del css $
$main-color: #191919;
$light-color: #eeee;
$primary: #D6B187;

$flex: flex;
$main-font: 'Roboto';
$transition: .5s;

$bg-img: url('https://cdn.pixabay.com/photo/2013/07/18/20/26/sea-164989_1280.jpg');
$bg-img-segundo: url('https://cdn.pixabay.com/photo/2016/11/29/04/19/ocean-1867285_1280.jpg');

$p-5: 50px;
$p-4: 40px;
$p-3: 30px;
$p-2: 20px;

$col-md-4: repeat(4,1fr);

$temporada: invierno;

//se llaman con $ en los valores